// Colors
:root {
  --main-background: #f9f8f8;
  --primary-text-color: #082032;
  --secondary-text-color: #fdefef;
  --secondary-background: #7dedff;
  --color-danger: #faad80;
  --card-background: #54436b;

  --font-stack: "Open Sans", sans-serif;

  --shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
